.home {
    width: 100%;
    margin: 0 auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    background-color: #ffffff;
}

.home .hero-header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
    overflow: hidden;
}

.home .dropdown-header {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 82px;
    margin-top: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    z-index: 1;
    background-color: #f9fafb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #d0d5dd;
}

.home .header {
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home .container {
    width: 1280px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 32px;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
}

.home .logo {
    position: relative;
    width: 142px;
    height: 32px;
}

.home .navigation {
    position: relative;
    flex: 0 0 auto;
}

.home .navigation-actions {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
}

.home .buttons-button {
    display: inline-flex;
    gap: 6px;
    padding: 10px 16px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .text-padding {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 2px;
    position: relative;
    flex: 0 0 auto;
}

.home .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--brand-700);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .text-padding-wrapper {
    display: inline-flex;
    gap: 6px;
    padding: 10px 16px;
    background-color: #0c111d;
    border: 1px solid;
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--basewhite);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .header-section {
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home .section {
    padding: 96px 0px 0px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .content-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .heading-and {
    max-width: 1024px;
    align-items: center;
    gap: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    width: 100%;
    flex: 0 0 auto;
}

.home .heading-and-badge {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .badge-group {
    gap: 12px;
    padding: 4px 10px 4px 4px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
    border-radius: 16px;
    border: 1.5px solid;
    border-color: #d0d5dd;
}

.home .badge {
    padding: 2px 10px;
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
    border-radius: 16px;
    border: 1.5px solid;
    border-color: #d0d5dd;
}

.home .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.50px;
    font-family: var(--text-sm-medium-font-family);
    font-weight: var(--text-sm-medium-font-weight);
    color: #101828;
    font-size: var(--text-sm-medium-font-size);
    text-align: center;
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-medium-font-style);
}

.home .content-2 {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.home .message {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-medium-font-family);
    font-weight: var(--text-sm-medium-font-weight);
    color: #101828;
    font-size: var(--text-sm-medium-font-size);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-medium-font-style);
}

.home .arrow-right {
    position: relative;
    width: 16px;
    height: 16px;
}

.home .heading {
    color: #101828;
    font-size: var(--display-xl-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-xl-semibold-letter-spacing);
    line-height: var(--display-xl-semibold-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--display-xl-semibold-font-family);
    font-weight: var(--display-xl-semibold-font-weight);
    font-style: var(--display-xl-semibold-font-style);
}

.home .supporting-text {
    position: relative;
    align-self: stretch;
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    color: #475467;
    font-size: var(--text-xl-regular-font-size);
    text-align: center;
    letter-spacing: var(--text-xl-regular-letter-spacing);
    line-height: var(--text-xl-regular-line-height);
    font-style: var(--text-xl-regular-font-style);
}

.home .actions {
    display: inline-flex;
    gap: 12px;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home .buttons-button-2 {
    display: inline-flex;
    gap: 10px;
    padding: 16px 22px;
    background-color: var(--basewhite);
    border: 1px solid;
    border-color: var(--gray-300);
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.home .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-lg-semibold-font-family);
    font-weight: var(--text-lg-semibold-font-weight);
    color: var(--gray-700);
    font-size: var(--text-lg-semibold-font-size);
    letter-spacing: var(--text-lg-semibold-letter-spacing);
    line-height: var(--text-lg-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-lg-semibold-font-style);
}

.home .div-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    gap: 10px;
    padding: 16px 22px;
    background-color: #0c111d;
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .text-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-lg-semibold-font-family);
    font-weight: var(--text-lg-semibold-font-weight);
    color: var(--basewhite);
    font-size: var(--text-lg-semibold-font-size);
    letter-spacing: var(--text-lg-semibold-letter-spacing);
    line-height: var(--text-lg-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-lg-semibold-font-style);
}

.home .background-pattern {
    position: relative;
    width: 1440px;
    height: 429.78px;
    margin-bottom: -365.78px;
}

.home .container-wrapper {
    padding: 0px 0px 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .container-2 {
    flex-direction: column;
    max-width: 1280px;
    align-items: flex-start;
    padding: 0px 32px;
    align-self: center;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .image {
    position: relative;
    width: 916px;
    height: 516px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .overlap-group {
    position: relative;
    height: 516px;
}

.home .shadow-overlay {
    position: absolute;
    width: 916px;
    height: 116px;
    top: 400px;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
    );
}

.home .overlay {
    position: absolute;
    width: 916px;
    height: 516px;
    top: 0;
    left: 0;
    background-color: #0000001a;
}

.home .social-proof-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--3-spacing-spacing-4xl);
    padding: var(--3-spacing-spacing-9xl) 0px var(--3-spacing-spacing-9xl) 0px;
    position: relative;
    width: 100%;
    background-color: var(--1-color-modes-colors-background-bg-primary-alt);
}

.home .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the container's content */
    gap: var(--3-spacing-spacing-4xl);
    padding: 0px var(--5-containers-container-padding-desktop);
    width: 100%;
}

.home .text-5 {
    position: relative;
    text-align: center; /* Centers the text */
    font-family: var(--text-md-medium-font-family);
    font-weight: var(--text-md-medium-font-weight);
    color: var(--1-color-modes-colors-text-text-tertiary-600);
    font-size: var(--text-md-medium-font-size);
    letter-spacing: var(--text-md-medium-letter-spacing);
    line-height: var(--text-md-medium-line-height);
}

.home .logos {
    display: flex;
    align-items: center; /* Align logos vertically */
    justify-content: center; /* Center logos horizontally */
    gap: var(--3-spacing-spacing-3xl); /* Space between logos */
    flex-wrap: wrap; /* Ensures wrapping on smaller screens */
    width: 100%;
}

.home .company-logo {
    height: 48px;
    flex: 0 0 auto;
}

.home .after-before {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 96px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--basewhite);
}

.home .container-4 {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .heading-and-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .heading-2 {
    margin-top: -1.00px;
    color: var(--gray-900);
    font-size: var(--display-md-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-md-semibold-letter-spacing);
    line-height: var(--display-md-semibold-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--display-md-semibold-font-family);
    font-weight: var(--display-md-semibold-font-weight);
    font-style: var(--display-md-semibold-font-style);
}

.home .p {
    color: var(--gray-600);
    font-size: var(--text-xl-regular-font-size);
    text-align: center;
    line-height: var(--text-xl-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    letter-spacing: var(--text-xl-regular-letter-spacing);
    font-style: var(--text-xl-regular-font-style);
}

.home .horizontal-tabs {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--gray-50);
    border-radius: 12px;
    border: 1px solid;
    border-color: var(--gray-200);
}

.home .tab-button-base {
    display: inline-flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: var(--shadows-shadow-sm);
}

.home .text-6 {
    position: relative;
    width: fit-content;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--gray-700);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .tab-button-base-2 {
    display: inline-flex;
    height: 44px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 12px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 6px;
    overflow: hidden;
}

.home .text-7 {
    position: relative;
    width: fit-content;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .container-5 {
    align-items: center;
    justify-content: center;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content-4 {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--gray-50);
    border-radius: 24px;
    overflow: hidden;
}

.home .image-2 {
    position: relative;
    align-self: stretch;
    width: 428px;
    background-color: #000000;
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 428px;
    height: 428px;
}

.video-2 {
    width: 100%; /* Ensures the video scales to fit the container */
    height: 100%; /* Ensures the video scales to fit the container */
    object-fit: cover; /* Crops or scales the video to maintain aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners to the video */
}

.home .content-5 {
    display: flex;
    flex-direction: column;
    width: 736px;
    align-items: flex-start;
    gap: 24px;
    padding: 32px 64px;
    position: relative;
}

.home .div-2 {
    align-items: flex-start;
    gap: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .heading-3 {
    margin-top: -1.00px;
    color: #101828;
    font-size: 32px;
    letter-spacing: -0.64px;
    line-height: 44px;
    position: relative;
    align-self: stretch;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
}

.home .supporting-text-2 {
    color: #475467;
    font-size: var(--text-xl-regular-font-size);
    line-height: var(--text-xl-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    letter-spacing: var(--text-xl-regular-letter-spacing);
    font-style: var(--text-xl-regular-font-style);
}

.home .supporting-text-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #101828;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
}

.home .check-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .div-3 {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .check-icon {
    position: relative;
    width: 28px;
    height: 28px;
}

.home .text-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.home .text-8 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-lg-regular-font-family);
    font-weight: var(--text-lg-regular-font-weight);
    color: var(--gray-600);
    font-size: var(--text-lg-regular-font-size);
    letter-spacing: var(--text-lg-regular-letter-spacing);
    line-height: var(--text-lg-regular-line-height);
    font-style: var(--text-lg-regular-font-style);
}
/* Hide inactive tab content */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Style active tab */
.horizontal-tabs .tab-button-base.active,
.horizontal-tabs .tab-button-base-2.active {
    background-color: var(--gray-200);
    color: var(--gray-900);
    font-weight: bold;
}

.home .features-section {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    gap: 96px;
    padding: 96px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
}

.home .div-4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .subheading {
    color: #e52d04;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    font-size: var(--text-md-semibold-font-size);
    text-align: center;
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    font-style: var(--text-md-semibold-font-style);
}

.home .heading-4 {
    color: var(--gray-900);
    font-size: var(--display-md-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-md-semibold-letter-spacing);
    line-height: var(--display-md-semibold-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--display-md-semibold-font-family);
    font-weight: var(--display-md-semibold-font-weight);
    font-style: var(--display-md-semibold-font-style);
}

.home .container-6 {
    max-width: 1280px;
    align-items: center;
    gap: 96px;
    padding: 0px 32px;
    align-self: center;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.home .div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .featured-icon {
    width: 56px;
    height: 56px;
    margin-top: -4.00px;
    margin-left: -4.00px;
    background-color: #ffe5d5;
    border-radius: 28px;
    border: 8px solid;
    border-color: #fff9f5;
}

.home .img-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 12px;
}

.home .heading-5 {
    margin-top: -1.00px;
    color: var(--gray-900);
    font-size: var(--display-sm-semibold-font-size);
    letter-spacing: var(--display-sm-semibold-letter-spacing);
    line-height: var(--display-sm-semibold-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--display-sm-semibold-font-family);
    font-weight: var(--display-sm-semibold-font-weight);
    font-style: var(--display-sm-semibold-font-style);
}

.home .supporting-text-4 {
    color: var(--gray-600);
    font-size: var(--text-lg-regular-font-size);
    line-height: var(--text-lg-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-lg-regular-font-family);
    font-weight: var(--text-lg-regular-font-weight);
    letter-spacing: var(--text-lg-regular-letter-spacing);
    font-style: var(--text-lg-regular-font-style);
}

.home .check-items-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0px 0px 0px 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .check-icon-2 {
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-image: url(./img/check-circle.svg);
    background-size: 100% 100%;
}

.home .mockup-wrap-wrapper {
    position: relative;
    flex: 1;
    flex-grow: 1;
    height: 512px;
}

.home .mockup-wrap {
    width: 768px;
    height: 512px;
    background-color: var(--gray-100);
    overflow: hidden;
}

.home .overlap {
    position: relative;
    width: 924px;
    height: 708px;
    top: 44px;
    left: 48px;
}

.home .element-screen-mockup {
    position: absolute;
    width: 776px;
    height: 520px;
    top: 0;
    left: 148px;
    border-radius: 10px;
    border: 4px solid;
    border-color: var(--gray-900);
}

.home .overlap-group-2 {
    position: relative;
    width: 768px;
    height: 512px;
    border-radius: 10px;
}

.home .mockup-shadow {
    position: absolute;
    width: 712px;
    height: 512px;
    top: 0;
    left: 28px;
    background-color: #000000;
    box-shadow: var(--shadows-shadow-3xl);
}

.home .screen-mockup {
    position: absolute;
    width: 768px;
    height: 512px;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-image: url(./img/screen-mockup-REPLACE-FILL-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .iphone-mockup {
    position: absolute;
    width: 314px;
    height: 640px;
    top: 68px;
    left: 0;
}

.home .overlap-2 {
    position: relative;
    height: 638px;
}

.home .mockup-shadow-2 {
    position: absolute;
    width: 308px;
    height: 637px;
    top: 1px;
    left: 3px;
    background-color: #000000;
    border-radius: 51.08px;
    box-shadow: 12.02px 12.02px 24.04px -1.5px #10182814, 24.04px 24.04px 48.08px
        -3px #10182833;
}

.home .overlap-group-wrapper {
    position: absolute;
    width: 282px;
    height: 610px;
    top: 14px;
    left: 16px;
    background-color: var(--basewhite);
    overflow: hidden;
}

.home .overlap-group-3 {
    position: relative;
    height: 634px;
}

.home .screen-mockup-2 {
    position: absolute;
    width: 282px;
    height: 610px;
    top: 24px;
    left: 0;
    background-image: url(./img/screen-mockup-REPLACE-FILL.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .iphone-mockup-status {
    position: absolute;
    width: 282px;
    height: 29px;
    top: 0;
    left: 0;
}

.home .right {
    position: absolute;
    width: 50px;
    height: 9px;
    top: 13px;
    left: 221px;
}

.home .battery {
    position: absolute;
    width: 18px;
    height: 9px;
    top: 0;
    left: 32px;
}

.home .wifi {
    position: absolute;
    width: 11px;
    height: 8px;
    top: 0;
    left: 17px;
}

.home .mobile-signal {
    position: absolute;
    width: 13px;
    height: 8px;
    top: 0;
    left: 0;
}

.home .date {
    position: absolute;
    width: 21px;
    height: 8px;
    top: 13px;
    left: 25px;
}

.home .iphone-mockup-home {
    position: absolute;
    width: 282px;
    height: 26px;
    top: 584px;
    left: 0;
}

.home .div-6 {
    position: relative;
    width: 101px;
    height: 4px;
    top: 16px;
    left: 91px;
    background-color: #000000;
    border-radius: 75.12px;
}

.home .overlap-wrapper {
    position: absolute;
    width: 314px;
    height: 638px;
    top: 0;
    left: 0;
}

.home .buttons {
    position: absolute;
    width: 314px;
    height: 153px;
    top: 101px;
    left: 0;
}

.home .device-surround {
    position: absolute;
    width: 309px;
    height: 400px;
    top: 0;
    left: 2px;
}

.home .highlight-band {
    position: absolute;
    width: 308px;
    height: 399px;
    top: 1px;
    left: 3px;
}

.home .background {
    position: absolute;
    width: 302px;
    height: 396px;
    top: 4px;
    left: 6px;
}

.home .antenna-bands {
    position: absolute;
    width: 309px;
    height: 638px;
    top: 0;
    left: 2px;
}

.home .antenna {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 0;
    left: 243px;
    background-color: #414141;
}

.home .antenna-2 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 64px;
    left: 305px;
    background-color: #414141;
}

.home .antenna-3 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 64px;
    left: 0;
    background-color: #414141;
}

.home .antenna-4 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 570px;
    left: 0;
    background-color: #414141;
}

.home .antenna-5 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 570px;
    left: 305px;
    background-color: #414141;
}

.home .antenna-6 {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 635px;
    left: 62px;
    background-color: #414141;
}

.home .camera {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 18px;
    left: 182px;
}

.home .speaker {
    position: absolute;
    width: 36px;
    height: 4px;
    top: 22px;
    left: 139px;
}

.home .mockup-wrap-2 {
    position: relative;
    left: -208px;
    width: 768px;
    height: 512px;
    background-color: var(--gray-100);
    overflow: hidden;
}

.home .iphone-mockup-2 {
    position: relative;
    width: 314px;
    height: 640px;
    top: 48px;
    left: 261px;
}

.home .screen-mockup-3 {
    position: absolute;
    width: 282px;
    height: 610px;
    top: 24px;
    left: 0;
    background-image: url(./img/screen-mockup-REPLACE-FILL-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .device-surround-2 {
    position: absolute;
    width: 309px;
    height: 464px;
    top: 0;
    left: 2px;
}

.home .highlight-band-2 {
    position: absolute;
    width: 308px;
    height: 463px;
    top: 1px;
    left: 3px;
}

.home .background-2 {
    position: absolute;
    width: 302px;
    height: 460px;
    top: 4px;
    left: 6px;
}

.home .metrics-section {
    flex-direction: column;
    width: 1440px;
    background-color: var(--basewhite);
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home .section-2 {
    gap: 64px;
    padding: 96px 0px 160px;
    background-color: #fff3ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .subheading-2 {
    color: #101828;
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    font-size: var(--text-md-semibold-font-size);
    text-align: center;
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    font-style: var(--text-md-semibold-font-style);
}

.home .heading-6 {
    color: #101828;
    font-size: var(--display-md-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-md-semibold-letter-spacing);
    line-height: var(--display-md-semibold-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--display-md-semibold-font-family);
    font-weight: var(--display-md-semibold-font-weight);
    font-style: var(--display-md-semibold-font-style);
}

.home .supporting-text-5 {
    color: #344054;
    font-size: var(--text-xl-regular-font-size);
    text-align: center;
    line-height: var(--text-xl-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-xl-regular-font-family);
    font-weight: var(--text-xl-regular-font-weight);
    letter-spacing: var(--text-xl-regular-letter-spacing);
    font-style: var(--text-xl-regular-font-style);
}

.home .buttons-button-3 {
    display: inline-flex;
    gap: 6px;
    padding: 12px 18px;
    background-color: var(--basewhite);
    border: 1px solid;
    border-color: var(--gray-300);
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .play-circle {
    position: relative;
    width: 20px;
    height: 20px;
}

.home .text-9 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--gray-700);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    padding: 12px 18px;
    background-color: #0c111d;
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .section-3 {
    padding: 0px 0px 96px;
    margin-top: -96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .metrics {
    justify-content: center;
    gap: 32px;
    padding: 64px;
    align-self: stretch;
    width: 100%;
    background-image: url(./img/metrics.png);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home .metric-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 32px 24px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: #ffffffcc;
    border: 1px solid;
    border-color: #ffffff99;
    backdrop-filter: blur(16px) brightness(100%);
    -webkit-backdrop-filter: blur(16px) brightness(100%);
}

.home .number {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-xl-semibold-font-family);
    font-weight: var(--display-xl-semibold-font-weight);
    color: #e52d04;
    font-size: var(--display-xl-semibold-font-size);
    text-align: center;
    letter-spacing: var(--display-xl-semibold-letter-spacing);
    line-height: var(--display-xl-semibold-line-height);
    font-style: var(--display-xl-semibold-font-style);
}

.home .text-and-supporting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .text-10 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-lg-semibold-font-family);
    font-weight: var(--text-lg-semibold-font-weight);
    color: var(--gray-900);
    font-size: var(--text-lg-semibold-font-size);
    text-align: center;
    letter-spacing: var(--text-lg-semibold-letter-spacing);
    line-height: var(--text-lg-semibold-line-height);
    font-style: var(--text-lg-semibold-font-style);
}

.home .supporting-text-6 {
    color: var(--gray-600);
    font-size: var(--text-md-regular-font-size);
    text-align: center;
    line-height: var(--text-md-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-style: var(--text-md-regular-font-style);
}
.FAQ-title {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding: 16px;
    background-color: var(--gray-50);
    border-radius: 8px;
}

.FAQ-content {
    overflow: hidden;
    max-height: 0; /* Collapsed state */
    opacity: 0; /* Hidden state */
    transition: max-height 0.6s ease, opacity 0.6s ease; /* Increased duration for smoother animation */
    padding: 0 16px; /* Ensure consistent padding */
    
}

.FAQ-accordian-item.expanded .FAQ-content {
    max-height: 200px; /* Adjust based on content height */
    opacity: 1; /* Fully visible when expanded */
    padding: 16px; /* Add padding when expanded */
}

.FAQ-section {
    gap: 64px;
    padding: 96px 0px;
    background-color: var(--basewhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FAQ-accordian-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--gray-50);
    border-radius: 16px;
    margin-bottom: 16px;
}

.FAQ-title p {
    font-family: var(--text-lg-medium-font-family);
    font-weight: var(--text-lg-medium-font-weight);
    font-size: var(--text-lg-medium-font-size);
    color: var(--gray-900);
    margin: 0;
}

.supporting-text-7 {
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    font-size: var(--text-md-regular-font-size);
    color: var(--gray-600);
    margin: 0;
    transition: opacity 0.4s ease; /* Smooth fade-in/out */
}
.home .container-7 {
    flex-direction: column;
    max-width: 1280px;
    align-items: center;
    gap: 64px;
    padding: 0px 32px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content-7 {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}


.home .contact-sections {
   
    align-items: center;
    gap: 64px;
    padding: 96px 0px;
    flex: 0 0 auto;
    background-color: #fff3ed;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home .heading-and-3 {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .container-8 {
    max-width: 1280px;
    align-items: flex-start;
    gap: 64px;
    padding: 0px 32px;
    align-self: stretch;
    width: 100%;
    display: flex;
    position: relative;
    flex: 0 0 auto;
}

.home .content-9 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.home .row {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .contact-text {
    min-width: 240px;
    align-items: flex-start;
    gap: 16px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home .text-and-supporting-3 {
    gap: 8px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.home .text-12 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--text-xl-semibold-font-family);
    font-weight: var(--text-xl-semibold-font-weight);
    color: #101828;
    font-size: var(--text-xl-semibold-font-size);
    letter-spacing: var(--text-xl-semibold-letter-spacing);
    line-height: var(--text-xl-semibold-line-height);
    font-style: var(--text-xl-semibold-font-style);
}

.home .supporting-text-8 {
    color: #475467;
    font-size: var(--text-md-regular-font-size);
    line-height: var(--text-md-regular-line-height);
    position: relative;
    align-self: stretch;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    letter-spacing: var(--text-md-regular-letter-spacing);
    font-style: var(--text-md-regular-font-style);
}

.home .buttons-button-4 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-13 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: #101828;
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .text-14 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: #101828;
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    font-style: var(--text-md-semibold-font-style);
}

.home .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    padding: 40px 32px;
    position: relative;
    flex: 1;
    flex-grow: 1;
    background-color: var(--basewhite);
    border-radius: 16px;
}

.home .form {
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 1;
    flex-grow: 1;
}

.home .div-7 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-medium-font-family);
    font-weight: var(--text-sm-medium-font-weight);
    color: var(--gray-700);
    font-size: var(--text-sm-medium-font-size);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-medium-font-style);
    background: transparent;
    border: none;
    padding: 0;
}

.home .input {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--basewhite);
    border-radius: 8px;
    border: 1px solid;
    border-color: var(--gray-300);
    box-shadow: var(--shadows-shadow-xs);
}

.home .content-10 {
    position: relative;
    flex-grow: 1;
    border: none;
    background: none;
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-style: var(--text-md-regular-font-style);
    padding: 0;
}

.home .textarea-input-field {
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.home .input-with-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
}

.home .label-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-sm-medium-font-family);
    font-weight: var(--text-sm-medium-font-weight);
    color: var(--gray-700);
    font-size: var(--text-sm-medium-font-size);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    line-height: var(--text-sm-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-sm-medium-font-style);
}

.home .input-2 {
    padding: 12px 14px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
    background-color: var(--basewhite);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--gray-300);
    box-shadow: var(--shadows-shadow-xs);
    flex: 1;
    margin-top: -1.00px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
}

.home .checkbox-base-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}

.home .checkbox-base {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--gray-300);
}

.home .text-and-supporting-4 {
    gap: 2px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.home .text-15 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--gray-600);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
}

.home .span {
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: #475466;
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
}

.home .text-wrapper-2 {
    text-decoration: underline;
    font-family: var(--text-md-regular-underlined-font-family);
    font-style: var(--text-md-regular-underlined-font-style);
    font-weight: var(--text-md-regular-underlined-font-weight);
    letter-spacing: var(--text-md-regular-underlined-letter-spacing);
    line-height: var(--text-md-regular-underlined-line-height);
    font-size: var(--text-md-regular-underlined-font-size);
}

.home .buttons-button-5 {
    display: flex;
    gap: 6px;
    padding: 12px 18px;
    align-self: stretch;
    width: 100%;
    background-color: #0c111d;
    box-shadow: var(--shadows-shadow-xs);
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

.home .footer {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    gap: 64px;
    padding: 48px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--basewhite);
}

.home .content-11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.home .logo-wrap {
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: flex-start;
    position: relative;
}

.home .logo-wrap-wrapper {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.home .logomark {
    position: absolute;
    width: 38px;
    height: 38px;
    top: -2px;
    left: -3px;
}

.home .footer-links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.home .footer-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.home .text-16 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--gray-600);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.home .buttons-button-wrapper {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.home .buttons-button-6 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.home .footer-text {
    position: relative;
    width: 160px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-regular-font-size);
    text-align: right;
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
}
